.main-content ul {
    padding-left: 16px;
}

.main-content :first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.instructorphoto img {
    width: 150px;
    border-radius: 150px;
    margin-bottom: 10px;
}

.instructor {
    text-align: center;
}